# Optimization
__pycache__/
*.pyc

# Corpora / data
LibriSpeech/
data/
dev-clean.tar.gz
preprocessed_data/

# Old / etc.
wandb/
training_with_callbacks/
models/
temp/
util/
Dockerfile
data_utils.py

# Training / models
ee_loss_finetuning_models/
ee_loss_training_models/
ee_loss_finetuning_resume_models/
kd_ee_finetuning_models/
wav2vec2-pretrained-demo/
checkpoint-468740-epoch-36/
checkpoint-585925-epoch-25/
ee_finetuning_models/


